/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*UTILITY*/

* {
  font-family: 'Raleway', sans-serif;
  color: #212121;
}
body{
  margin: 0;
}
a,
a:visited {
/*  color: #ffcf24;*/
/*  animation: hue-rotate 5s infinite linear;*/
/*  font-weight: bold;*/
  text-decoration: underline;
  color: inherit;
}
a:hover,
a:active {
  color: inherit;
}
p,
li {
  font-size: 1.25em;
}
.light-text {
  color: #FAFAFA;
}
.container-main {
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
.row:before {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.text-center {
  text-align: center;
}
.desktop{
  display: none;
}
/*INTRO*/
.intro {
  height: 300px;
  background: #ff70d8;
  background: -moz-linear-gradient(45deg, #ff70d8 0%, #f8ff7f 100%);
  background: -webkit-linear-gradient(45deg, #ff70d8 0%, #f8ff7f 100%);
  background: linear-gradient(45deg, #ff70d8 0%, #f8ff7f 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff70d8', endColorstr='#f8ff7f', GradientType=1);
  animation: hue-rotate 20s infinite linear;
  -webkit-animation: hue-rotate 20s infinite linear;
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
@-webkit-keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
  }
}
.hero {
  height: 200px;
  z-index: 99;
  width: 75%;
  margin: 5em auto 0;
}
h2 {
  font-family: 'Bree Serif', serif;
  font-size: 3em;
  margin-top: 0.25em;
}
h2,
.hero p {
  color: #383838;
  line-height: 0.95em;
}
@media only screen and (min-width: 768px) {
  .hero {
    height: 250px;
    width: 55%;
  }
  .intro {
    height: 450px;
  }
  h2 {
    font-size: 7.5em;
    line-height: 0.95em;
    margin-bottom: 0.25em;
  }
  .hero p {
    padding: 0 30px;
    
  }
  .desktop{
    display: block;
  }
}

/*ABOUT*/

.about {
  background-color: #E0E0E0;
  min-height: 500px;
  padding: 5em 0 6em 0;
}
.about img {
  margin: 0 0 3em 0;
  border-radius: 5px;
}
.about-container {
  width: 90%;
  margin: 0 5%;
}
.about-header {
  font-size: 2.5em;
  font-family: 'Bree Serif', serif;
  padding: 0 0 0.5em 0;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .about-container {
    width: 45%;
    float: left;
    margin: 0 2.5%;
  }
}

/*PROJECTS*/

.projects {
  background-color: #BDBDBD;
  min-height: 500px;
  padding: 4em 0 5em;
}
.projects-title {
  font-family: 'Bree Serif', serif;
  font-size: 4.55em;
  line-height: 1.3em;
  padding: 0;
  margin: 0 0 1.25em 0;
}
.projects-container {
  width: 90%;
  margin: 0 5%;
}
.projects img {
  padding: 0 0 20px 0;
}
@media only screen and (min-width: 768px) {
  .projects-container {
    width: 31.33%;
    float: left;
    margin: 0 1%;
  }
}

/*RESUME*/

.resume {
  background-color: #FAFAFA;
  min-height: 500px;
  padding: 3em 0 5em;
}
.resume-container{
  width: 90%;
  margin: 0 5%;
}
.resume-sub-container-left{
  width: 30%;
  float: left;
}
.resume-sub-container-right{
  width: 63%;
  float: left;
  margin: 0 0 0 7%;
}
.resume-title {
  padding: 0.75em 0;
}
.resume-title span {
  font-size: 2.5em;
  border-bottom: 3px solid #ffcf24;
}
.resume-job,
.resume-position {
  font-size: 1.75em;
  font-family: 'Bree Serif', serif;
  padding: 30px 0 5px 0;
}
.resume-date,
.resume-description {
  font-size: 1.25em;
  color: #666666;
}
.divider {
  margin-top: 5em;
  margin-bottom: 5em;
  border-bottom: dashed 2px #ffcf24;
  height: 1px;
  width: 100%;
}
.education, .skills{
  width: 100%;
}
.skills-container{
  width: 100%;
  padding-top: 1.5em;
}
.bar {
  width: 100%;
}
.bar .skills {
  list-style: none;
  margin: 0;
  padding: 0;
}
.bar li {
  position: relative;
  background: #ADADAD;
  height: 30px;
  margin-top: 15px;
  border-radius: 5px;
}
.bar li p {
  position: relative;
  left: 5px;
  color: #f7f7f7;
}
.bar-expand {
  position: absolute;
  left: 0;
  top: 0;
  background: #242424;
  height: 30px;
  border-radius: 5px 0 0 5px;
  width: 10%;
  transition: ease-in-out;
}
@media only screen and (min-width: 768px) {
  .resume-container{
    width: 75%;
    margin: 0 12.5%;
  }
  .resume-sub-container-left{
    width: 25%;
    margin: 0 0 0 7%;
  }
  .resume-sub-container-right{
    width: 54%;
    margin: 0 7% 0 7%;
  }
  .resume-title {
    margin: 0 0 0 7%;
  }
  .divider{
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
  }
  .skills-container{
    width: 85%;
    margin: 0 7.5%;
  }
  .bar {
    width: 95%;
  }
}
@media only screen  and (min-width : 1224px) {
  .resume-container{
    width: 60%;
    margin: 0 20%;
  }
  .divider{
    width: 65%;
    margin-left: 17.5%;
    margin-right: 17.5%;
  }
  .skills-container{
    width: 80%;
    margin: 0 7.5%
  }
}

/*SUBFOOTER*/

.subfooter {
  background-color: #424242;
  padding: 7em 0 6em;
}
.email-icon {
  margin-top: 4px;
  width: 47.5%;
  float: left;
  text-align: right;
}
.email-icon img {
  height: 110px;
}
.social-icon {
  display: inline-block;
  height: 35px;
  padding: 0 20px;
}
.email-text {
  text-align: center;
  width: 45%;
  float: left;
  margin-left: 2.5%;
}
@media only screen and (min-width: 768px) {
  .email-icon img {
    height: 120px;
  }
  .email-text {
    text-align: left;
  }
}
@media only screen and (min-width: 992px) {
  .social-icon {
    padding: 0 30px 0 20px;
  }
}

/*FOOTER*/

footer {
  background-color: #212121;
  padding: 7em 0 3em;
  font-size: 0.8em;
}
footer .glyphicon {
  vertical-align: text-top;
}
@media only screen and (min-width: 768px) {
  footer {
    background-color: #242424;
    padding: 7em 0 3em;
    font-size: 1.125em;
  }
}


/*Photo Page*/
.tabs{
  display: block;
  width: 872px;
  margin: 30px auto 40px;
}
.tabs div{
  display: inline-block;
  width: 200px;
  margin: 0 15px 0 0;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 2px;
  background: #e4e4e4;
  cursor: pointer;
  transition: 0.3s;
}
.tabs div:last-child{
  margin: 0;
}
.tabs div.active, .tabs div:hover{
  background: #7e7e7e;

}
.tabs div p{
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  letter-spacing: 0.75px;
  transition: 0.3s;
}


.tabs div.active p, .tabs div:hover p{
color: #ffffff;
}

.photo-container{
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.photo-container img{
  margin-bottom: 40px;
}

@media only screen and (max-width: 768px) {
  .tabs{
    width: 100%;
    margin: 10px auto;
  }
  .tabs div{
    float: left;
    display: block;
    width: 46.25%;
    margin: 5px 2.5% 0;
  }
  .tabs div:nth-child(even){
    margin: 5px 2.5% 0 0;
  }
  .tabs div:last-child{
    margin-bottom: 20px;
  }
  .photo-container{
    width: 95%;
    margin: 0 2.5%;
  }
  .photo-container img{
    width: 100%;
    margin-bottom: 10px;
  }

}