// bower:scss
// endbower
//.browserupgrade {
//  margin: 0.2em 0;
//  background: #ccc;
//  color: #000;
//  padding: 0.2em 0;
//}
@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');

$logoWidth: 200px;
$borderPadding: 2.5vw;
$primary: rebeccapurple;
$white: #ffffff;
$black: #232323;
body {
  background: $black;
  height: 100vh;
  width: 100vw;
}
.logo {
  position: fixed;
  top: $borderPadding;
  width: $logoWidth;
  left: $borderPadding;
}
.intro-text, .about-text {
  position: absolute;
  top: 1vh;
//  top: 15vh;
  text-align: right;
  width: calc(100vw - #{$logoWidth} - #{$borderPadding});
  right: 0;
  span {
    background-color: $primary;
  }
  &.hidden {
    .outlined-text p {
      transform: translate(100px, 100px);
      opacity: 0;
    }
    .full-text p {
      transform: translate(-100px, -100px);
      opacity: 0;
    }
  }
}
.full-text,
.outlined-text {
  position: absolute;
  width: 100%;
}
.full-text p,
.outlined-text p {
  font-size: 9.25em;
  line-height: 1.35em;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: $white;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transition: 0.75s ease-out;
}
.outlined-text p {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  z-index: 999;
  span {
    color: $white;
  }
}
.photo {
  position: fixed;
  left: $borderPadding;
  top: 20vh;
  font-size: 40px;
  background: $primary;
  height: 570px;
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  //  transform: rotate(-5deg);
  overflow: hidden;
  p {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: $white;
    white-space: nowrap;
  }
}
#mainPhoto {
  transition: 1.5s;
  &.hidden {
    //    border-radius: 5vw;
    width: 0px;
    //    height: 0px;
    opacity: 0;
    left: -$borderPadding;
  }
}
.social-links {
  position: fixed;
  bottom: $borderPadding;
  left: $borderPadding;
  display: flex;
  a {
    width: 20px;
    height: 20px;
    background: $white;
    color: $black;
    margin-right: 5px;
  }
}
.shapes-container{
  animation: shapes infinite backwards alternate 6s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
@keyframes shapes{
  to{
    transform: translate(0,0)
  }
  from{
    transform: translate(-50px,-50px)
  }
}
.triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 45px solid;
  border-top-color: $primary;
  top: 10vh;
  right: 5vw;
  transform: rotate(135deg);
  & + .triangle {
    top: 60vh;
    right: 25vw;
    transform: rotate(105deg);
  }
  & + .triangle + .triangle {
    top: 85vh;
    right: 75vw;
    transform: rotate(195deg);
  }
  & + .triangle + .triangle + .triangle {
    top: 5vh;
    right: 65vw;
    transform: rotate(195deg);
  }
}
.circle {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  top: 5vh;
  right: 25vw;
  position: fixed;
  background-color: $primary;
  & + .circle {
    top: 70vh;
    right: 45vw;
  }
  & + .circle + .circle {
    top: 25vh;
    right: 45vw;
  }
  & + .circle + .circle + .circle {
    top: 90vh;
    right: 5vw;
  }
}
